<%- include('./partials/head.ejs') %>    


<body>
    <nav class="navbar navbar-expand-lg text-white bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: white" href="#">RoomVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" id="share-link-room" style="color: white" href="#">Share link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container-fluid">
        <div class="row" id="container-participants" >
            <div class="card col-md-4" style="width: 25rem;" id="my-video">
                <div class="card-body">
                    <h3 class="text-center text-capitalize" id="local-username"></h3>
                    <video id="other-video-stream" class="flip" style="width: 100%;"></video>
                    <div >
                        <button id="btn-my-mic" class="btn btn-sm btn-primary" style="padding: 10px 15px">
                            <i class="fa-solid fa-microphone"></i>
                        </button>
                        <button id="btn-my-video" class="btn btn-sm btn-primary" style="padding: 10px 15px">
                            <i class="fa-solid fa-video"></i>
                        </button>
                        <button id="btn-my-close-call" class="btn btn-sm btn-primary" style="padding: 10px 15px">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                        <button id="btn-my-share-screen" class="btn btn-sm btn-primary" style="padding: 10px 15px">
                            <i class="fa-solid fa-desktop"></i>
                        </button>
                        <button id="btn-record-screen" class="btn btn-sm btn-primary"  style="padding: 10px 15px">
                            <i class="fa-brands fa-youtube"></i>
                        </button>
                        <button id="btn-stop-record-screen" style="display: none; padding: 10px 15px" class="btn btn-sm btn-danger"
                          style="padding: 10px 15px">
                            <i class="fa-regular fa-circle-stop"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="utils.js"></script>
    <script src="recorder.js"></script>
    <script src="room.js"></script>
    <script src="stream.js"></script>
    <script src="event.js"></script>

</body>

</html>